@media screen and (max-width: 600px){
    .btn-cont{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        border: 1.5px solid aqua;
        border-radius: 50px;
        border-style: solid;
        padding-top: 30px;
        border-width: 2px;
        padding-bottom: 30px;
      
        width: 250px;
        margin: 0% auto;
        margin-left: 7px;
        
        
        
    }
    .btn{
        background-color: transparent;
        border: 3px solid rgb(248, 114, 23);
        width: 140px;
        height: 100px;
        border-radius: px;
        margin-right: 15px;
        cursor: pointer;
    }
    .title{
        display: flex;
        justify-content: center;
    }

}